name_prefix         = "prod-web"
subnet_cidr         = "10.10.30.0/24"
ssh_cidr            = "0.0.0.0/0"
http_cidr           = "0.0.0.0/0"
instance_private_ip = "10.10.30.10"
image_name          = "Ubuntu 22.04 Jammy Jellyfish x86_64"
flavor_name         = "1C-1GB"
